body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
  background-color: hsl(0, 0%, 90%);
}

#button{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 25px;
  
}

#button button{
  width: 60px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: hsl(0, 0%, 40%);
}

button:active{
  background-color: hsl(0, 0%, 50%);
}

.click-btn{
  background-color: hsl(39, 100%, 49%); 
}

.click-btn:hover{
  background-color: hsl(39, 100%, 55%);
}

.click-btn:active{
  background-color: hsl(39, 100%, 60%);
}

#display{
  display: grid;
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: left;
  padding: 20px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
}

#calculater{
  max-width: 500px;
  overflow: hidden;
  border-radius: 10px;
  margin: auto;
  background-color: hsl(0, 0%, 20%);
}
